#kontakt {
    background-color: @warm-grey;

    .map {
        border-radius: 4px;
        overflow: hidden;
        font-size: 0;
        box-shadow: 0 2px 20px rgba(0,0,0,.2);
        margin-bottom: 32px;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .contactbox {
        display: flex;
        align-items: center;
        color: @dark-grey;
        box-shadow: 0 2px 20px rgba(0,0,0,.2);
        border-radius: 4px;
        background-color: @light-warm-grey;
        height: 60px;
        padding: 0 24px;
        font-size: 18px;
        text-decoration: none;

        i {
            font-size: 24px;
        }

        span {
            padding-left: 16px;
        }
    }
}