@import "./variables.less";
@import "./navigation.less";
@import "./intro.less";
@import "./rechtsgebiete.less";
@import "./kontakt.less";
@import "./kanzlei.less";
@import "./about.less";
@import "./kosten.less";
@import "./footer.less";
@import "./scrollToTop.less";

body {
    font-family: 'Roboto', sans-serif;
    color: @black;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 80px 0;
}

hr {
    border-top: 2px solid @black;
}

.title {
    font-family: 'PT Serif', serif;
    font-size: 42px;
    padding-bottom: 36px;
    
    &.white {
        color: white;
    }
}

.content {
    p {
        font-weight: 300;
        font-size: 18px;
    }

    .list {
        background-color: white;
        padding: 24px;
        border-radius: 4px;
        box-shadow: 0px 36px 33px -26px rgba(0,0,0,0.2);

        ul {
            margin: 0;
            padding-left: 24px;
        }
    }
}

.animated {
    opacity: 0;
    transform: translateY(20px);
}